.learnAbout {
    font-family: oswald,Montserrat,sans-serif;
}

.typeHeading {
    color: red;
    font-family: 'Trade Gothic Pro Bold', 'Trade Gothic Pro Light', Impact, Arial, sans-serif;
    color: #ea2f2c;
    text-transform: uppercase;
}

